:root {
    --main-color:#2196f3;
    --main-color-alt: #1787e0;
    --section-background: #ececec;
    --transparent-color:rgb(15 116 143 / 70%);
    --section-padding:100px;
    --second-color:#2c4755;
    --main-transition:0.3s;
}
/* End Varibles  */
/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif; 
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {text-decoration: none;}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right:auto ;
}

    /* Small  */
@media (min-width: 768px)  {
   .container {
    width: 750px;
   }
   
}
    /* Medium */
@media (min-width :992px) {
    .container {
        width:970px;
    }
}
    /* large  */
@media (min-width :1200px) {
    .container {
        width: 1170px;
    }
} 

/* End Global Rules  */
/* Start Compentes */
.main-title {
    margin: 0 auto 80px;
    width: fit-content;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    position: relative;
    transition: var(--main-transition);
    text-transform: uppercase;
    z-index: 100;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translatey(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay:0.5s;
    
}
.spikes {position: relative;}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 2;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots {
    background-image: url('../images/dots.png');
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left:0;
}

/* End Compentes */

/* Start Header  */
header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10 #ddd;
    -moz-box-shadow: 0 0 10 #ddd;
    box-shadow: 0 0 10 #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .container .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
    }
}
header .container .main-nav {
    display: flex;
    
}
@media (max-width:767px) {
    header .container .main-nav {
        margin: auto;
    }
}
header .container .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
header .container .main-nav > li > a {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 0 30px;
    height: 72px;
    transition: var(--main-transition);
    overflow: hidden;   
    font-size: 18px;
}
@media (max-width:767px) {
    header .container .main-nav > li > a {
        font-size: 14px;
        padding: 10px;
        height: 40px;        
    }
}
header .container .main-nav > li > a::before {
    content: "";
    height: 4px;
    width:100%;
    background-color: var(--main-color);
    position: absolute; 
    top: 0;
    left:-100%;
    transition: 0.3s;
}
header .container .main-nav > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
} 
header .container .main-nav > li > a:hover::before {
    left: 0;
}
header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    display: flex;
    gap: 40px;
    background-color: white;
    z-index: -1;
    border-bottom: 3px solid var(--main-color);
    top: calc(100% + 50px);
    transition: top var(--main-transition), opacity var(--main-transition);
    opacity: 0;
}
@media (max-width:767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width:991px) {
    header .mega-menu .image img {
        display: none;
    }
}
header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}
header .mega-menu .links li {
    position: relative;
}
header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e9;
}
@media (max-width:767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e9;
    }
}

header .mega-menu .links li::before {
    content: "";
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #fafafa;
    transition: var(--main-transition);
    z-index: -1;

}
header .mega-menu .links li:hover::before {
    width: 100%;
}
header .mega-menu .links li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}
header .mega-menu .links li i {
    margin-right: 10px;
}

/* End Header  */
/* Start Landing  */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    z-index: -1;
    transform: skewy(-6deg);
    transform-origin: top left;
}
.landing .container {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
@media (max-width:991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}
@media (max-width:767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .text p {
    line-height: 1.7;
    font-size: 20px;
    color: #666;
    margin: 5px  0 0;
    max-width: 500px;
}
@media (max-width:991px) {
    .landing .text p {
        margin:10px auto;
    }
}
@media (max-width:767px) {
    .landing .text p {
        font-size: 18px;
    }
}
.landing .container .image img{
    width: 600px;
    position: relative;
    animation: up-and-down 3s linear infinite;
}
@media (max-width:991px) {
    .landing .container .image {
        display: none;
    }
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
/* End Landing  */

/* Start Articles  */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition) , box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translatey(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    max-width: 100%;
}
.articles .box .content {
    padding:20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content  p {
    line-height: 1.7;
    margin: 10px 0 0 ;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    font-weight: bold;
    color: var(--main-color);
}
.articles .box .info i {
    color: var(--main-color);
}
.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
/* End Articles  */

/* Start Gallery */
.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    position: relative;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
}
.gallery .box .image {
    position: relative;    
    overflow: hidden;
}
.gallery .box .image::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 20%);
    z-index: 2;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

.gallery .box .image img {
    max-width: 100%;
    transition:  var(--main-transition) ;
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .image  {
    position: relative;
    overflow: hidden;

}
.features .box .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -1px;
}
.features .box.quality .image::before {
    background-color: rgb(244 64 54 / 60%);
}
.features .box.time .image::before {
    background-color: rgb(0 150 136 / 60%);
}
.features .box.passion .image::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .image::after {
    border-width: 170px 500px 170px 0px;
}
.features .box .image img {
    max-width: 100%;
}
.features .box h2 {
    font-size: 40px;
    margin:  auto;
    letter-spacing: -2px;
    width: fit-content;
    position: relative;
}
.features .box h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    bottom: -20px;
    width: calc(100% - 30px);
    height: 5px;
}

.features .box.quality h2::before {
    background-color: #f44036;
}
.features .box.time h2::before {
    background-color: #009688;
}
.features .box.passion h2::before {
    background-color: #03a9f4;
}
.features .box p {
    line-height: 1.7;
    margin: 30px 0;
    font-size: 20px;
    color: #777;
}
.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .box.quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right top;
}

.features .box.time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right top;
}
.features .box.passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right top;
}
.features .box:hover a {  
    background-position: left top;
    color: white;
}
/* End Features */

/* Start Testimonials */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    
}
.testimonials .box {
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%) ;
}

.testimonials .image img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -20px;
    border: 10px solid var(--section-background);
}
.testimonials .image img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ececec;
}
.testimonials .box h3 {
    margin: 0 0 10px  ;
}
.testimonials .box span {
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.testimonials .box .rate {
    margin-bottom: 10px;
}
.testimonials .box i.filled{
    color: #ffc107;
}
.testimonials .box p{
    margin: 0;
    line-height: 1.7;
    color: #777;
    font-size: 14px;
}
/* End Testimonials */

/* Start Team Membar */
.team-membar {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.team-membar .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    
}
.team-membar .box {
    position: relative;
}
.team-membar .box::before,
.team-membar .box::after {
    content: "";
    position: absolute;
    background-color: #f3f3f3;    
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team-membar .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team-membar .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team-membar .box:hover:after {
    width: calc(100% - 60px);
}
@media (max-width:767px) {
    .team-membar .box::before,
    .team-membar .box:hover:after {
        width: 100%;
    }
}
.team-membar .data {
    display: flex;
    align-items: center;
    padding-top: 60px;

}
@media (max-width:767px) {
    .team-membar .data {
        display: block;
        padding-top: 10px;
    }
}
.team-membar .data  img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}

.team-membar .box:hover  img {
    filter: grayscale(100%);
}
@media (max-width:767px) {
    .team-membar .box img {
        width:100%;
        padding: 20px;
        border-radius: 30px;
    }
}
.team-membar .box .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    gap: 20px;
}
@media (max-width:767px) {
    .team-membar .box .social {
        flex-direction: row;
        width: initial;
        justify-content: center;
    }
}
.team-membar .box .social a {
    display: flex;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.team-membar .box .social i {
    color: #777;
    transition: var(--main-transition);
}
.team-membar .box .social a:hover i {
    color: var(--main-color);
}
.team-membar .box .info {
    padding-left: 80px;
}
@media (max-width:767px) {
    .team-membar .box .info {
        text-align: center;
        padding: 0;
    }
}
.team-membar .box .info h3 {
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 0;
    transition: var(--main-transition);
}
.team-membar .box:hover .info h3 {
    color: #777;
}
.team-membar .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
/* End Team Membar */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    
}
.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}
.services .box:hover {
    transform: translateY(-10px);
}
.services .box::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -5px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.services .box:hover::before {
    width: 100%;
}
.services .box i {
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    color: #d5d5d5;
}
.services .box h3 {
    text-align: center;
    color: var(--main-color);
    font-size: 22px;
    margin: 20px 0 40px;
}
.services .box .info {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.services .box .info a {
    color: var(--main-color);
}
.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0px;
    background-color: var(--main-color);
    height: 100%;
    width: 80px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:15px ;
}
.services .box .info::after {
    content: "";
    position: absolute;
    left: 80px;
    height: 100%;
    background-color: #d5d5d5;
    width: 50px;
    top: 0;
    transform: skewX(-30deg);


}
/* End Services */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.our-skills .container {
    display: flex;
    align-items: center;
}
@media (max-width:991px) {
    .our-skills img {
        display: none;
    }
}
.our-skills .skills {
    flex:1;
}
.our-skills  .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills  .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    color: var(--main-color);
    border-radius: 4px;
}
.our-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}
.our-skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: width 0.5s linear;
}
/* End Skills */
/* Start Works Steps */
.work-steps {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.work-steps .container {
    display: flex;
    
}
@media (max-width:991px) {
    .work-steps .container  {
        flex-direction: column;
    }
}
.work-steps .container > img {
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:991px) {
    .work-steps .container > img {
        margin: 0 0 40px;
    }
}
.work-steps .box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #f6f5f5;
    border: 2px solid white;
    transition: var(--main-transition);
    position: relative;
    z-index: 1;
}
@media (max-width:767px) {
    .work-steps .box {
        flex-direction: column;
        text-align: center;
    }
}
.work-steps .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}
.work-steps .box:hover:before {
    width: 100%;
    height: 100%;
}
.work-steps .box  img {
    width: 64px;
    margin-right: 30px;
}
@media (max-width:767px) {
    .work-steps .box img {
        margin: 0 auto 40px;
    }
}
.work-steps .box h3 {
    font-size: 22px;
    margin: 0;
}
.work-steps .box p {
    font-size: 18px;

    color: #777;
    line-height: 1.7;
}

/* End Works Steps */
/* Start Events */
.events {    
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.events .container {    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events img {
    max-width: 450px;
}
@media (max-width:991px) {
    .events img {
        display: none;
    }
}
.events .info {
    flex: 1;
}
.events .info .time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
}
.events .info .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);

}
.events .info .time .unit span {display: block;}
.events .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}
.events .info .time .unit span:last-child {
    font-size: 13px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}
.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .info h2 {
    text-align: center;
    margin: 40px 0 0;
    font-size: 2em;
}
.events .info p {
    text-align: center;
    font-size: 19px;
    line-height: 1.7;
    color: #777;
}
.events .subscribe {
    width: 100%;
    margin-top: 50px;
}
.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width:767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}
.events .subscribe form input[type="email"] {
    padding: 20px;
    flex: 1;
    border-radius: 50px;
    border: 1px solid white;
    caret-color: var(--main-color);
}
@media (max-width:767px)  {
    .events .subscribe form input[type="email"] {
        border-radius: 0;
    }
}
.events .subscribe form input[type="email"]:focus {
    outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events .subscribe form input[type="submit"] {
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: var(--main-color);
    cursor:pointer; 
    font-weight: bold;
    transition: var(--main-transition);
}
.events .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
@media (max-width:767px)  {
    .events .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}
/* End Events */

/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.pricing .box {
    background-color: white;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-color);
    z-index: 1;
    position: relative;
}
@media (min-width:1200px) {
    .pricing .popular{
        top: -20px;
    }
}
.pricing .popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 10px 35px;
    font-weight: bold;
    font-size: 18px;
    width: 40px;
}
.pricing .popular .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;

}

.pricing .box::before,
.pricing .box::after {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    width: 0;
    height: 50%;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing .box::before {
    right: 0;
    top: 0;
}
.pricing .box::after {
    left: 0;
    bottom: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {width: 100%;}
.pricing .box .title {
    font-size: 25px;
    margin: 30px 0;
    font-weight: bold;
    letter-spacing: -1px;
}
.pricing .box img {
    max-width: 80px;
    margin-bottom: 30px;
}
.pricing .box .price {margin-bottom: 20px;}
.pricing .box .price .amount {
    display: block;
    font-size: 60px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom:5px ;
}
.pricing .box .price .time {
    color: #777;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.pricing .box ul {
    text-align: left;
}
.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}
.pricing .box a {
    
    color: var(--main-color);
    padding: 15px 20px;
    display: block;
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 30px auto 40px;
    border-radius: 10px;
    font-weight: bold;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: white;
}
/* End Pricing */
/* Start video */
.videos {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.videos .holder {
    display: flex;
    justify-content: space-between;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}
@media (max-width:991px) {
    .videos .holder {
        flex-direction: column;
    }
}
.videos  .list {
    min-width: 300px;
    background-color: white;
} 
.videos  .list .name {
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}  
.videos  .list ul li {
    padding: 20px;
    border-bottom: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
} 
.videos  .list ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
} 
.videos  .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
} 
.videos .holder .preview {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.videos .holder .preview img {
    max-width: 100%;
}
.videos .holder .preview .info {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
/* End video */

/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url('../images/stats.jpg');
    background-size: cover;
    min-width: 300px;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
    
}
.stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;  
}
.stats .box {
    position: relative;
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    opacity: 0.8;
}
.stats .box::before, 
.stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    transition: 1s;
    height: 0;
} 
.stats .box::before {
    right: 0;
    top: 0;
}
.stats .box::after {
    bottom: 0;
    left: 0;
}

.stats .box:hover {opacity: 1;}
.stats .box:hover::before,
.stats .box:hover::after {height: 100%;}
.stats .box .number {
    font-size: 50px;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}
.stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
/* End Stats */
/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-cover 10s linear infinite;
}
@media (max-width:991px) {
    .discount .image {
    flex-basis: 100%;
    }
}
.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount .content {
    text-align: center;
    padding: 0 20px;

}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    line-height: 1.7;
    font-size: 18px;
    max-width: 500px;
}
.discount .content img {
    width: 300px;
    max-width: 100%;
    padding-bottom: 20px;
}
.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
@media (max-width:991px) {
    .discount .form {
    flex-basis: 100%;
    }
}
.discount .form form {
    display: flex;
    flex-direction: column;
}
.discount .form form .input {
    padding: 20px;
    border: none;
    border-radius: 6px;
    background-color: #f9f9f9;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
}
.discount .form form .input:focus {
    outline: none;
}
.discount .form form .input::placeholder {
    transition: var(--main-transition);
}
.discount .form form .input:focus::placeholder {
    opacity: 0;
}
.discount .form form textarea.input {
    height: 200px;
    resize: none;
}
.discount .form form input[type="submit"].input {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}
.discount .form form input[type="submit"].input:hover {
    background-color: var(--main-color-alt);
}

/* End Discount */

/* Start Footer */
.footer {
    padding: 70px 0 0;
    background-color: #191919;
}
@media (max-width:767px) {
    .footer {text-align: center;}
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;  
}
.footer h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social  {
    display: flex;
}
@media (max-width:767px) {
    .footer .box .social {justify-content: center;}
}
.footer .box .social li  {
    margin-right: 10px;
}
.footer .box .social li a  {
    background-color: #313131;
    color: #B9B9B9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover {background-color: #1877f2;}
.footer .box .social .twitter:hover {background-color: #1da1f2;}
.footer .box .social .youtube:hover {background-color: #FF0000;}
.footer .box  .text {
    line-height: 2;
    color: #B9B9B9;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {border-bottom: 1px solid #444;}
.footer .box .links li:hover {padding-left: 10px;}
.footer .box .links li a {
    color: #B9B9B9;
    transition: var(--main-transition);
}
.footer .box .links li:hover a {color: white;}
.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line {
    color: #B9B9B9;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
    
}
@media (max-width:767px) {
    .footer .box .line {
        flex-direction: column;
    }
    .footer .box .line i {margin-bottom: 10px;}
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
    display: block;
}
.footer .footer-gallery img {
    width: 78px;
    border:3px solid white ;
    margin:2px;
}
.footer .copy-right {
    text-align: center;
    padding: 25px 0;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* End Footer */

/* Start Animation  */
@keyframes up-and-down {
    0% ,100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform:translatey(0);
    }
    40%,
    60% {
        transform:translatey(-15px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-cover {
    0%, 100% {
        background-image:url('../images/discount-background1.jpg') ;
    }
    50% {
        background-image: url('../images/discount-background2.jpg');
    }
}
/* End Animation  */